@font-face {
    font-family: 'gteestiprodisplay';
    src: url('@/assets/fonts/gteestiprodisplay.otf') format('opentype');
}

:root {
    --gte: 'gteestiprodisplay', sans-serif;
}


body {
    margin: 0;
}